# Q1. What is a database? Differentiate between SQL and NoSQL databases.

-A database is an organized collection of structured or unstructured data that can be accessed, managed, and updated in a systematic way. Databases are used to store and manage data for various applications, ranging from small-scale personal applications to large-scale enterprise systems.

SQL and NoSQL are two different types of databases that differ in their structure, data model, and query language:

" SQL databases ": SQL stands for Structured Query Language, which is a language used to manage and manipulate relational databases. SQL databases store data in a structured manner, using tables with predefined columns and data types. Each table has a unique key, and the data is stored in rows that correspond to records in the table. SQL databases are highly structured and provide a high level of data integrity and consistency. Some examples of SQL databases include "MySQL, Oracle, and PostgreSQL".

" NoSQL databases ": NoSQL stands for "not only SQL", which means that NoSQL databases are not limited to SQL query language. NoSQL databases store data in a non-structured or semi-structured manner, using documents, key-value pairs, or graphs. NoSQL databases are highly scalable and can handle large volumes of data with ease. NoSQL databases provide greater flexibility and agility than SQL databases, but at the cost of reduced data integrity and consistency. Some examples of NoSQL databases include "MongoDB, Cassandra, and Redis".

-In summary, SQL databases are highly structured, provide high data integrity and consistency, and use SQL as a query language. NoSQL databases are highly scalable, provide greater flexibility and agility, and use non-structured or semi-structured data models.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

-DL stands for Data Definition Language, which is a set of SQL commands used to create, modify, and delete database objects such as tables, indexes, and constraints. DDL is used to define the structure of a database and its objects.

The following are some of the commonly used DDL commands and their usage:

" CREATE ": The CREATE command is used to create a new database object such as a table, index, or view.
For example, to create a new table named "users" with columns for user ID, name, and email address, we can use the following SQL statement:

" DROP ": The DROP command is used to delete an existing database object such as a table, index, or view.
For example, to delete the "users" table created above, we can use the following SQL statement:

" ALTER ": The ALTER command is used to modify the structure of an existing database object such as a table or index.
For example, to add a new column "age" to the "users" table created above, we can use the following SQL statement:

" TRUNCATE ": The TRUNCATE command is used to delete all data from a table without deleting the table itself.
For example, to delete all data from the "users" table created above, we can use the following SQL statement:

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

--DML stands for Data Manipulation Language and is used to manipulate data stored in a database. It includes commands such as INSERT, UPDATE, and DELETE.

" INSERT ": The INSERT statement is used to add new records to a table. Here's an example:
This statement inserts a new record with the values 'Johnny', 'Deep', and 'johnny.deep@email.com' into the 'employees' table.

" UPDATE ": The UPDATE statement is used to modify existing records in a table. Here's an example:
This statement updates the 'salary' column for the record with an 'employee_id' of 1234 in the 'employees' table to 60000.

" DELETE ": The DELETE statement is used to delete records from a table. Here's an example:
This statement deletes the record with an 'employee_id' of 5678 from the 'employees' table.

# Q4. What is DQL? Explain SELECT with an example.

---DQL stands for Data Query Language, which is a subset of SQL that is used to retrieve data from a database. The most commonly used DQL command is SELECT, which is used to select data from a table in a database.

--The most commonly used DQL command is SELECT. The SELECT command is used to retrieve data from one or more tables. Here's an example of how to use the SELECT command:

+----+---------+-------+-----+
| id | name    | grade | age |
+----+---------+-------+-----+
| 1  | Ali   | A     | 16  |
| 2  | Boby     | B     | 17  |
| 3  | Charu | A     | 18  |
+----+---------+-------+-----+

-To select all columns from the students table, we can use the following command:

select * from students ;

-To select all columns from the students table, we can use the following command:

select * from students ;

# Q5. Explain Primary Key and Foreign Key.

---a primary key is a unique identifier for each row in a table. It is a column or combination of columns that uniquely identifies each record in a table. The primary key constraint ensures that the values in the primary key column(s) are unique and not null.
For example, in a "users" table, the "id" column can be the primary key if each user has a unique ID number.

---A foreign key is a column or combination of columns in one table that refers to the primary key of another table. It establishes a relationship between two tables, where the values in the foreign key column(s) of one table match the values in the primary key column(s) of another table.
For example, in a "orders" table, the "user_id" column can be a foreign key that refers to the "id" column of the "users" table, indicating which user placed each order.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
![title](img/MySQL.png)

/bin/bash: -c: line 1: syntax error near unexpected token `img/MySQL.png'
/bin/bash: -c: line 1: `[title](img/MySQL.png)'

--The cursor() method in Python is used to create a cursor object, which allows us to execute SQL commands on the database. The cursor object provides methods to execute SQL commands, fetch data from the database, and handle transactions.

--The execute() method is used to execute SQL commands on the database using the cursor object. It takes an SQL query as its argument and returns the result of the query. For example, to execute a SELECT query on a MySQL database using the cursor object,

# Q7. Give the order of execution of SQL clauses in an SQL query.
 
 " 7 STAGES OF SQL ORDER OF EXECUTION " : 
1. FROM/JOIN
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT/OFFSET

---The order in which the clauses in queries are executed is as follows.

 

1. FROM/JOIN 
The FROM and/or JOIN clauses are executed first to determine the data of interest.

 

2. WHERE 
The WHERE clause is executed to filter out records that do not meet the constraints.

 

3. GROUP BY 
The GROUP BY clause is executed to group the data based on the values in one or more columns.

 

4. HAVING 
The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

 

5. SELECT 
The SELECT clause is executed to derive all desired columns and expressions.

 

6. ORDER BY 
The ORDER BY clause is executed to sort the derived values in ascending or descending order.

 

7. LIMIT/OFFSET 
Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.